/* Make the avatar on the About page smaller */
.avatar {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  object-fit: cover;
}

/* Navbar customisation (from Alison https://github.com/rbind/apreshill/blob/master/assets/scss/custom.scss) */

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
	color: #06805E;
}

.navbar {
  box-shadow: none;
	letter-spacing: .1em;
	font-size: .9em;
}

.navbar-brand {
  font-weight: 700;
	letter-spacing: .1em;
}

/*----NAV LINK HOVER ANIMATION -----*/
/* from Alison https://github.com/rbind/apreshill/blob/master/assets/scss/custom.scss from Desiree: https://github.com/dcossyleon/blogdown_desiree/blob/master/assets/scss/custom.scss */

/* stroke */

.navbar-nav a.nav-link {
  position: relative;
}

.navbar-nav a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: #7b8296;
  height: 2px;
}

.navbar-nav a.nav-link:hover:after {
  width: 80%;
}
